@model WebRuou.Models.Category
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-inner">
        <h2>Xác nhận xóa danh mục</h2>
        <div class="content-wrapper">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Bạn có chắc chắn muốn xóa danh mục này không?</h3>
                </div>
                <div class="card-body">
                    <p><strong>ID:</strong> @Model.CategoryID</p>
                    <p><strong>Tên loại:</strong> @Model.CategoryName</p>
                    <p><strong>Mô tả:</strong> @Model.Description</p>
                    @using (Html.BeginForm("DeleteConfirmed", "Category", FormMethod.Post, new { id = Model.CategoryID }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.CategoryID)
                        <button type="submit" class="btn btn-danger">Xóa</button>
                        <a href="@Url.Action("Index")" class="btn btn-secondary">Quay lại</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




