@using WebRuou.Models
@using PagedList.Mvc
@model PagedList.PagedList<Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Quản lý đơn hàng </h3>
            </div>

            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>OrderID</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ</th>
                            <th>Phương thức thanh toán</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái thanh toán</th>
                            <th>Trạng thái giao hàng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.OrderID</td>
                                <td>@order.User.FullName</td>
                                <td>@order.Shippings</td>
                                <td>@order.Payments</td>
                                <td>@order.TotalAmount</td>
                                <td>@order.Status</td>
                                <td>
                                    <!-- Xem chi tiết đơn hàng -->
                                    <a href="@Url.Action("Details", "Order", new { id = order.OrderID })" class="btn btn-primary">Xem</a> |
                                    <!-- Cập nhật trạng thái thanh toán -->
                                    <a href="@Url.Action("UpdatePaymentStatus", "Order", new { id = order.OrderID, paymentStatus = 1 })" class="btn btn-success">Đã thanh toán</a> |

                                    <!-- Xóa đơn hàng -->
                                    <a href="@Url.Action("Delete", "Order", new { id = order.OrderID }) " class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Xóa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
                </div>
            </div>
            <!--/.card-body-->
            <div class="card-footer">
            </div>
            <!--/.card-footer-->
        </div>
    </div>
</div>


