@model WebRuou.Models.Coupon
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title">Chỉnh sửa khuyến mãi</h3>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Thông tin khuyến mãi</h3>
                    <div class="card-body">
                        @using (Html.BeginForm("Edit", "Coupon", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            @Html.HiddenFor(x => x.CouponID) <!-- Use a hidden field for the ID -->

                            <div class="form-group">
                                <label for="ID">CouponID</label>
                                @Html.TextBoxFor(x => x.CouponID, new { @class = "form-control", @placeholder = "ID coupon" })
                                @Html.ValidationMessageFor(x => x.CouponID, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="NameCate">CODE</label>
                                @Html.TextBoxFor(x => x.Code, new { @class = "form-control", @placeholder = "CODE" })
                                @Html.ValidationMessageFor(x => x.Code, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="NameCate">Giảm giá</label>
                                @Html.TextBoxFor(x => x.Discount, new { @class = "form-control", @placeholder = "Giảm giá" })
                                @Html.ValidationMessageFor(x => x.Discount, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="NameCate">Ngày hết hạn</label>
                                @Html.TextBoxFor(x => x.ExpiryDate, new { @class = "form-control", @placeholder = "Ngày" })
                                @Html.ValidationMessageFor(x => x.ExpiryDate, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label for="NameCate">Đơn tối thiểu</label>
                                @Html.TextBoxFor(x => x.MinOrderAmount, new { @class = "form-control", @placeholder = "Giá tiền" })
                                @Html.ValidationMessageFor(x => x.MinOrderAmount, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <a href="/admin/coupon" class="btn btn-danger">Quay lại</a>
                                <button type="submit" class="btn btn-success mr-2">Lưu lại</button> <!-- Updated button text -->
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>



